* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Alegreya SC';
}

header {
    width: 100;
    height: 200px;
    color: black;
}
header li {
    list-style: none;
    display: inline;
    font-size: 30px;
    margin-right: 50px;
}

header ul {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

body {
    background: url('https://cdn.wallpapersafari.com/37/21/1X0qr6.jpg') fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    background-position: center;
}

h1 {
    text-align: center;
    color: black;
    font-size: 40px;
    margin-bottom: 100px;
}

.startQuiz {
    display: flex;
    justify-content: center;
}

button {
    padding: 15px;
    background-color: #ee8129;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}

button:hover {
    background-color: yellow;
    cursor: pointer;
}

h2 {
    text-align: center;
}

form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    text-align: center;
}

fieldset {
    border: none;
}

input {
    display:inline-block;
    margin-bottom: 25px;
}

label {
    display: block;
    border: none;
    margin-bottom: 25px;
    font-size: 20px;
    background-color: orange;
    text-align: left;
}

#submitButton {
    border:none;
    font-size: 20px;
    cursor: pointer;
    background-color: orange;
    color: black;
}

.rightAnswerResponse {
    text-align: center;
    font-size: 30px;
}

.rightAnswerButton {
    text-align: center;
    margin-top: 30px;
}

.wrongAnswerResponse {
    text-align: center;
    font-size: 30px;
}

.wrongAnswerResponse p {
    margin-bottom: 30px;
}

.boldAnswer {
    font-weight: bold;
}

.results {
    font-size: 30px;
    text-align: center;
}

.restartQuiz {
    margin-top: 30px;
}

@media only screen and (max-width: 400px) {
    header li {
        list-style: none;
        display: block;
        font-size: 30px;
        margin-right: auto;
        margin-left: auto;
    }

    label {
        font-size: 15px;
        margin-bottom: 10px;
    }

    form {
        width: 75%;
    }

    .rightAnswerResponse img {
        width: 250px;
        height: 250px;
    }
}
